.venv/
.venv_xtts/
__pycache__/
*.pyc
.env
credentials.json
input.wav
.DS_Store

storage/*.json
storage/*.db
storage/*.log
storage/voices/
storage/google_token.json
storage/xtts_cache/
storage/mpl_cache/
storage/.gitkeep
